.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 2vmax; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}


.modal-content {
    position: relative;
    background-color: #fff;
    margin: auto;
    padding: 0;
    border: 5px solid #24BC24;
    height: 90%;
    width: 90%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}


@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}


.close {
    color: black;
    font-size: 1.6vmax;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;    
    padding: 1vmax 16px;
    background-color: #24BC24;
    color: black;
    text-align: center;
}
.modal-header h2 {
    margin-left: 40%;
    font-size: 1.4vmax;
}

.modal-body {
    padding: 2px 16px;
    text-align: center;
}
.modal-body {
    font-size: 1vmax;
}


.modal-body iframe {
    margin-top: 1vmax;
    width: 40vmax; 
    height: 30vmax;
    font-size: 1.4vmax;
}
