@media (max-width: 767px) {

.prehead {
	align-items: center;
	font-size: 1.8vmax;
}

.prehead ul {
	padding-left: 0;
	padding-right: 2vmax;
}

header {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	}

.head__left {
	justify-content: space-between;
	align-items: center;
	margin-left: 0vmax;
	flex: 1 1 100%;
}
.head__left h1 {
	font-size: 3.7vmax;
}
.head__left h4 {
	font-size: 2.2vmax;
}
.head__center {
	flex: 1 1 50%;
	font-size: 2vmax;
	padding-left: 2vmax; 
}
.head__right {
	flex: 1 1 50%;
	font-size: 2vmax;
	line-height: 3.7vmax;
	padding-left: 2vmax; 
}
#adr {
	margin-left: 2vmax;
	margin-top: 0;
}
.head__center:before {
	content:"";
	height: 50%;
	background-size: 3.8vmax;
	left: 0.4vmax;
	top: -0.8vmax; 
}
		
.head__right:before {
	content:"";
	height: 50%;
	background-size: 3.2vmax;
	top: 0.4vmax;
	left: 1vmax;
}

aside {
	flex-wrap: wrap;
	height: 100%;
	justify-content: flex-end;
	}

.text {
	display: flex;
	flex-direction: column;
	justify-content: center;
	flex: 1 1 100%;
	padding-left: 2vmax;
	color: black;
	text-shadow: 1px 1px 5px #fff, 0 0 2em #24BC24, 0 0 0.2em #ccc;
}
.text h2 {
	font-size: 4.5vmax;
}
.text p {
	margin-top: 1vmax;
	font-size: 1.7vmax;
	margin-bottom:2vmax; 
}

.form {
	flex: 0 1 50vmax;
}

.work {
	flex-wrap: wrap;
 }

.container {
	flex: 1 1 48%;
 	margin: 0.6vmax 0.6vmax;

}
 .work__1 {
 	flex: 1 1 auto;
 }

.containadv {
	display: flex;
	justify-content: center;
}

.advanse__row h4:before {
	width: 20%;
}

.advanse__row h4:after {
	width: 20%;
}
.advanse__column__col {
	justify-content: space-between;
	text-align: center;
}

.footer__down button {
	width: 30%;
	margin-right: 5vh;
}

}